.idea/deployment.xml
.idea/dwapi.iml
.idea/misc.xml
.idea/modules.xml
.idea/webServers.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
/vendor/
/_composer.json
/_composer.lock
/www/test.php
/www/htdocs/
/www/html/
