.idea/deployment.xml
.idea/dwapi.iml
.idea/misc.xml
.idea/modules.xml
.idea/webServers.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
/vendor/
__MACOSX/._vendor
__MACOSX/vendor/._bin
__MACOSX/vendor/._brick
__MACOSX/vendor/._composer
__MACOSX/vendor/._defuse
__MACOSX/vendor/._hashids
__MACOSX/vendor/._paragonie
__MACOSX/vendor/._phpmailer
__MACOSX/vendor/._ramsey
__MACOSX/vendor/._rbdwllr
__MACOSX/vendor/._symfony
__MACOSX/vendor/._twig
__MACOSX/vendor/._voku
__MACOSX/vendor/brick/._math
__MACOSX/vendor/brick/math/._src
__MACOSX/vendor/brick/math/src/._Exception
__MACOSX/vendor/brick/math/src/._Internal
__MACOSX/vendor/brick/math/src/Internal/._Calculator
__MACOSX/vendor/defuse/._php-encryption
__MACOSX/vendor/defuse/php-encryption/._bin
__MACOSX/vendor/defuse/php-encryption/._dist
__MACOSX/vendor/defuse/php-encryption/._docs
__MACOSX/vendor/defuse/php-encryption/._src
__MACOSX/vendor/defuse/php-encryption/docs/._classes
__MACOSX/vendor/defuse/php-encryption/src/._Exception
__MACOSX/vendor/hashids/._hashids
__MACOSX/vendor/hashids/hashids/._src
__MACOSX/vendor/hashids/hashids/src/._Math
__MACOSX/vendor/paragonie/._constant_time_encoding
__MACOSX/vendor/paragonie/._halite
__MACOSX/vendor/paragonie/._hidden-string
__MACOSX/vendor/paragonie/._random_compat
__MACOSX/vendor/paragonie/._sodium_compat
__MACOSX/vendor/paragonie/constant_time_encoding/._src
__MACOSX/vendor/paragonie/constant_time_encoding/._tests
__MACOSX/vendor/paragonie/halite/._doc
__MACOSX/vendor/paragonie/halite/._src
__MACOSX/vendor/paragonie/halite/._stub
__MACOSX/vendor/paragonie/halite/._test
__MACOSX/vendor/paragonie/halite/doc/._Classes
__MACOSX/vendor/paragonie/halite/doc/._Examples
__MACOSX/vendor/paragonie/halite/doc/._Install-Guides
__MACOSX/vendor/paragonie/halite/doc/Classes/._Alerts
__MACOSX/vendor/paragonie/halite/doc/Classes/._Asymmetric
__MACOSX/vendor/paragonie/halite/doc/Classes/._Contract
__MACOSX/vendor/paragonie/halite/doc/Classes/._Stream
__MACOSX/vendor/paragonie/halite/doc/Classes/._Symmetric
__MACOSX/vendor/paragonie/halite/src/._Alerts
__MACOSX/vendor/paragonie/halite/src/._Asymmetric
__MACOSX/vendor/paragonie/halite/src/._Contract
__MACOSX/vendor/paragonie/halite/src/._Stream
__MACOSX/vendor/paragonie/halite/src/._Structure
__MACOSX/vendor/paragonie/halite/src/._Symmetric
__MACOSX/vendor/paragonie/halite/test/._unit
__MACOSX/vendor/paragonie/halite/test/unit/._Structure
__MACOSX/vendor/paragonie/hidden-string/._src
__MACOSX/vendor/paragonie/hidden-string/._test
__MACOSX/vendor/paragonie/random_compat/._dist
__MACOSX/vendor/paragonie/random_compat/._lib
__MACOSX/vendor/paragonie/random_compat/._other
__MACOSX/vendor/paragonie/sodium_compat/._dist
__MACOSX/vendor/paragonie/sodium_compat/._lib
__MACOSX/vendor/paragonie/sodium_compat/._namespaced
__MACOSX/vendor/paragonie/sodium_compat/._src
__MACOSX/vendor/paragonie/sodium_compat/namespaced/._Core
__MACOSX/vendor/paragonie/sodium_compat/namespaced/Core/._ChaCha20
__MACOSX/vendor/paragonie/sodium_compat/namespaced/Core/._Curve25519
__MACOSX/vendor/paragonie/sodium_compat/namespaced/Core/._Poly1305
__MACOSX/vendor/paragonie/sodium_compat/namespaced/Core/Curve25519/._Ge
__MACOSX/vendor/paragonie/sodium_compat/src/._Core
__MACOSX/vendor/paragonie/sodium_compat/src/._Core32
__MACOSX/vendor/paragonie/sodium_compat/src/._PHP52
__MACOSX/vendor/paragonie/sodium_compat/src/Core/._Base64
__MACOSX/vendor/paragonie/sodium_compat/src/Core/._ChaCha20
__MACOSX/vendor/paragonie/sodium_compat/src/Core/._Curve25519
__MACOSX/vendor/paragonie/sodium_compat/src/Core/._Poly1305
__MACOSX/vendor/paragonie/sodium_compat/src/Core/._SecretStream
__MACOSX/vendor/paragonie/sodium_compat/src/Core/Curve25519/._Ge
__MACOSX/vendor/paragonie/sodium_compat/src/Core32/._ChaCha20
__MACOSX/vendor/paragonie/sodium_compat/src/Core32/._Curve25519
__MACOSX/vendor/paragonie/sodium_compat/src/Core32/._Poly1305
__MACOSX/vendor/paragonie/sodium_compat/src/Core32/._SecretStream
__MACOSX/vendor/paragonie/sodium_compat/src/Core32/Curve25519/._Ge
__MACOSX/vendor/phpmailer/._phpmailer
__MACOSX/vendor/phpmailer/phpmailer/._language
__MACOSX/vendor/phpmailer/phpmailer/._src
__MACOSX/vendor/ramsey/._collection
__MACOSX/vendor/ramsey/._uuid
__MACOSX/vendor/ramsey/collection/._src
__MACOSX/vendor/ramsey/collection/src/._Exception
__MACOSX/vendor/ramsey/collection/src/._Map
__MACOSX/vendor/ramsey/collection/src/._Tool
__MACOSX/vendor/ramsey/uuid/._src
__MACOSX/vendor/ramsey/uuid/src/._Builder
__MACOSX/vendor/ramsey/uuid/src/._Codec
__MACOSX/vendor/ramsey/uuid/src/._Converter
__MACOSX/vendor/ramsey/uuid/src/._Exception
__MACOSX/vendor/ramsey/uuid/src/._Fields
__MACOSX/vendor/ramsey/uuid/src/._Generator
__MACOSX/vendor/ramsey/uuid/src/._Guid
__MACOSX/vendor/ramsey/uuid/src/._Lazy
__MACOSX/vendor/ramsey/uuid/src/._Math
__MACOSX/vendor/ramsey/uuid/src/._Nonstandard
__MACOSX/vendor/ramsey/uuid/src/._Provider
__MACOSX/vendor/ramsey/uuid/src/._Rfc4122
__MACOSX/vendor/ramsey/uuid/src/._Type
__MACOSX/vendor/ramsey/uuid/src/._Validator
__MACOSX/vendor/ramsey/uuid/src/Converter/._Number
__MACOSX/vendor/ramsey/uuid/src/Converter/._Time
__MACOSX/vendor/ramsey/uuid/src/Provider/._Dce
__MACOSX/vendor/ramsey/uuid/src/Provider/._Node
__MACOSX/vendor/ramsey/uuid/src/Provider/._Time
__MACOSX/vendor/rbdwllr/._reallysimplejwt
__MACOSX/vendor/rbdwllr/reallysimplejwt/._.github
__MACOSX/vendor/rbdwllr/reallysimplejwt/._benchmarks
__MACOSX/vendor/rbdwllr/reallysimplejwt/._src
__MACOSX/vendor/rbdwllr/reallysimplejwt/._tests
__MACOSX/vendor/rbdwllr/reallysimplejwt/.github/._workflows
__MACOSX/vendor/rbdwllr/reallysimplejwt/src/._Exception
__MACOSX/vendor/rbdwllr/reallysimplejwt/src/._Helper
__MACOSX/vendor/rbdwllr/reallysimplejwt/src/._Interfaces
__MACOSX/vendor/symfony/._deprecation-contracts
__MACOSX/vendor/symfony/._http-foundation
__MACOSX/vendor/symfony/._polyfill-ctype
__MACOSX/vendor/symfony/._polyfill-iconv
__MACOSX/vendor/symfony/._polyfill-intl-grapheme
__MACOSX/vendor/symfony/._polyfill-intl-normalizer
__MACOSX/vendor/symfony/._polyfill-mbstring
__MACOSX/vendor/symfony/._polyfill-php72
__MACOSX/vendor/symfony/._polyfill-php80
__MACOSX/vendor/symfony/._yaml
__MACOSX/vendor/symfony/http-foundation/._Exception
__MACOSX/vendor/symfony/http-foundation/._File
__MACOSX/vendor/symfony/http-foundation/._Session
__MACOSX/vendor/symfony/http-foundation/._Test
__MACOSX/vendor/symfony/http-foundation/File/._Exception
__MACOSX/vendor/symfony/http-foundation/Session/._Attribute
__MACOSX/vendor/symfony/http-foundation/Session/._Flash
__MACOSX/vendor/symfony/http-foundation/Session/._Storage
__MACOSX/vendor/symfony/http-foundation/Session/Storage/._Handler
__MACOSX/vendor/symfony/http-foundation/Session/Storage/._Proxy
__MACOSX/vendor/symfony/http-foundation/Test/._Constraint
__MACOSX/vendor/symfony/polyfill-iconv/._Resources
__MACOSX/vendor/symfony/polyfill-iconv/Resources/._charset
__MACOSX/vendor/symfony/polyfill-intl-normalizer/._Resources
__MACOSX/vendor/symfony/polyfill-intl-normalizer/Resources/._stubs
__MACOSX/vendor/symfony/polyfill-intl-normalizer/Resources/._unidata
__MACOSX/vendor/symfony/polyfill-mbstring/._Resources
__MACOSX/vendor/symfony/polyfill-mbstring/Resources/._unidata
__MACOSX/vendor/symfony/polyfill-php80/._Resources
__MACOSX/vendor/symfony/polyfill-php80/Resources/._stubs
__MACOSX/vendor/symfony/yaml/._Command
__MACOSX/vendor/symfony/yaml/._Exception
__MACOSX/vendor/symfony/yaml/._Resources
__MACOSX/vendor/symfony/yaml/._Tag
__MACOSX/vendor/symfony/yaml/Resources/._bin
__MACOSX/vendor/twig/._twig
__MACOSX/vendor/twig/twig/._doc
__MACOSX/vendor/twig/twig/._src
__MACOSX/vendor/twig/twig/doc/._filters
__MACOSX/vendor/twig/twig/doc/._functions
__MACOSX/vendor/twig/twig/doc/._tags
__MACOSX/vendor/twig/twig/doc/._tests
__MACOSX/vendor/twig/twig/src/._Cache
__MACOSX/vendor/twig/twig/src/._Error
__MACOSX/vendor/twig/twig/src/._Extension
__MACOSX/vendor/twig/twig/src/._Loader
__MACOSX/vendor/twig/twig/src/._Node
__MACOSX/vendor/twig/twig/src/._NodeVisitor
__MACOSX/vendor/twig/twig/src/._Profiler
__MACOSX/vendor/twig/twig/src/._RuntimeLoader
__MACOSX/vendor/twig/twig/src/._Sandbox
__MACOSX/vendor/twig/twig/src/._Test
__MACOSX/vendor/twig/twig/src/._TokenParser
__MACOSX/vendor/twig/twig/src/._Util
__MACOSX/vendor/twig/twig/src/Node/._Expression
__MACOSX/vendor/twig/twig/src/Node/Expression/._Binary
__MACOSX/vendor/twig/twig/src/Node/Expression/._Filter
__MACOSX/vendor/twig/twig/src/Node/Expression/._Test
__MACOSX/vendor/twig/twig/src/Node/Expression/._Unary
__MACOSX/vendor/twig/twig/src/Profiler/._Dumper
__MACOSX/vendor/twig/twig/src/Profiler/._Node
__MACOSX/vendor/twig/twig/src/Profiler/._NodeVisitor
__MACOSX/vendor/voku/._portable-ascii
__MACOSX/vendor/voku/._portable-utf8
__MACOSX/vendor/voku/._stop-words
__MACOSX/vendor/voku/._urlify
__MACOSX/vendor/voku/portable-ascii/._build
__MACOSX/vendor/voku/portable-ascii/._src
__MACOSX/vendor/voku/portable-ascii/build/._docs
__MACOSX/vendor/voku/portable-ascii/src/._voku
__MACOSX/vendor/voku/portable-ascii/src/voku/._helper
__MACOSX/vendor/voku/portable-ascii/src/voku/helper/._data
__MACOSX/vendor/voku/portable-utf8/._src
__MACOSX/vendor/voku/portable-utf8/src/._voku
__MACOSX/vendor/voku/portable-utf8/src/voku/._helper
__MACOSX/vendor/voku/portable-utf8/src/voku/helper/._data
__MACOSX/vendor/voku/stop-words/._src
__MACOSX/vendor/voku/stop-words/src/._voku
__MACOSX/vendor/voku/stop-words/src/voku/._helper
__MACOSX/vendor/voku/stop-words/src/voku/helper/._stopwords
__MACOSX/vendor/voku/urlify/._src
__MACOSX/vendor/voku/urlify/src/._voku
__MACOSX/vendor/voku/urlify/src/voku/._helper
