<IfModule mod_rewrite.c>
RewriteOptions InheritDown
#RewriteEngine On

#RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#RewriteRule ^([a-z0-9_\-]+)/?$ index.php?endpoint=$1&action=$2 [NC,L,QSA]
#RewriteRule ^([a-z0-9_\-]+)/([a-z0-9_\-]+)/?$ index.php?endpoint=$1&action=$2 [NC,L,QSA]
#RewriteRule ^([a-z0-9_\-]+)/([a-z0-9_\-]+)/([a-z0-9_\-]+)/?$ index.php?endpoint=$1&action=$2&hash=$3 [NC,L,QSA]

RewriteEngine on
RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [L,QSA]
</IfModule>