<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteRule ^([a-z0-9_\-]+)/?$ v1/index.php?endpoint=$1 [NC,L,QSA]
RewriteRule ^([a-z0-9_\-]+)/([a-z0-9_\-]+)/?$ v1/index.php?endpoint=$1&action=$2 [NC,L,QSA]
</IfModule>